*.log
*.out
*.pid
*.seed
*.sublime-*
*.pyc
.DS_Store
.idea
.project
.strong-pm
coverage
__pycache__
ltp/*
output/*
generated
.env
.cache
venv
*.ipynb
venv/*
.vscode
dist
*.c
*.so
!/patches/**/*.so
build_release/
dist_release/
release/
output/
build/
/data
logs/*
.gitignore
.idea/
log/
Icon?